<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ingreso">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-text color="primary" class="ion-text-center">
  <h1>¡Bienvenido usuario!</h1>
</ion-text>
<br>
<br>
<br>

<ion-text class="ion-text-center">
  <h3>Haz click aqui!</h3>
</ion-text>
<br>
<br>
<br>
<ion-button color="primary" expand="block" fill="solid" shape="round" [routerLink]="['/pagina2']">
  Generar código QR
</ion-button>

<ion-content>

</ion-content>
