<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ingreso">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text class="ion-text-center">
    <h1>¿Olvidaste tu contraseña?</h1>
  </ion-text>
  <br>
  <br>
  <br>
  <ion-text class="ion-text-center">
    <h3>Si olvidaste tu contraseña, por favor, ingresa tu correo y recibiras un código</h3>
  </ion-text>
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input type="email" placeholder="juan@gmail.com"></ion-input>
  </ion-item>
  <br>
  <ion-button color="success" expand="block" fill="solid" shape="round">
    Enviar
  </ion-button>
</ion-content>