<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="end" color="primary" fill="clear" [routerLink]="['/ingreso']">
      Iniciar Sesión
    </ion-button>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>


<ion-content [fullscreen]="true">
  <ion-text color="primary" class="ion-text-center">
    <h1>RegistrAPP</h1>
  </ion-text>
  <br>

  <ion-text class="ion-text-center">
    <h1>Sistema de asistencia para docentes</h1>
  </ion-text>
  <br>
  <br>
  <br>

  <ion-text class="ion-text-center">
    <h3>Si eres docente y deseas pasar asistencia, por favor inicia sesión</h3>
  </ion-text>
  <br>
  <br>
  <br>

</ion-content>
